<% if @title.present? && @description.present? %>
  <div class="container" data-controller="open-ai">
    <h1 class="py-4">Create an automate github issue</h1>
    <div class="d-flex py-2 w-50 mx-auto text-center">
      <div>
        <h3>Title: <%= @title %></h3>
        <p><b>Description:</b> <%= @description %></p>
        <button class="btn btn-primary" onclick="location.reload()">Generate New Suggestion</button>
        <button type="button" class="btn btn-primary" data-action = "click->open-ai#open_edit_issue_modal">
          Edit Issue
        </button>
      </div>
    </div>
  </div>
<% end %>
<%= render 'edit_issue' %>
