<% if @suggested_content.present? %>
  <div class="container" data-controller="open-ai">
    <h1 class="py-4">Suggested changes for this pull request file</h1>
    <div class="d-flex py-2 w-50 mx-auto text-center">
      <div>
        <p><b>Suggested changes:</b> <%= @suggested_content %></p>
        <button class="btn btn-primary" onclick="location.reload()">More Suggestion</button>
        <button type="button" class="btn btn-primary" data-action = "click->open-ai#open_edit_suggestion_modal">
          Edit
        </button>
      </div>
    </div>
  </div>
<% end %>
<%= render 'edit_suggestion' %>
