<div>
  <section class="home-team-bg">
      <div class="text-center pt-5 ">
        <div class="text-center">
          <h3 class="section-title ff-secondary text-center text-prime fw-normal">Squad Hustler's</h3>
          <h1 class="mb-5">Our Squad Members</h1>
        </div>
      </div>
  </section>
  <div class="container container-xxl pt-5 pb-3">
    <div class="row g-4">
      <div class="col-lg-3 col-md-6 " >
        <div class="team-item text-center rounded overflow-hidden">
          <div class="rounded-circle overflow-hidden m-4">
            <%= image_tag 'team.jpg', class: "img-fluid-team w-100" %>
          </div>
          <h5 class="mb-0">Priya Kumari</h5>
          <small>Executive Chef</small>
          <div class="d-flex justify-content-center mt-3">
            <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
            <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
            <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6" >
        <div class="team-item text-center rounded overflow-hidden">
          <div class="rounded-circle overflow-hidden m-4">
            <%= image_tag 'team.jpg', class: "img-fluid-team w-100" %>
          </div>
          <h5 class="mb-0">Santosh Sen</h5>
          <small>Sous Chef</small>
          <div class="d-flex justify-content-center mt-3">
            <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
            <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
            <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6" >
        <div class="team-item text-center rounded overflow-hidden">
          <div class="rounded-circle overflow-hidden m-4">
            <%= image_tag 'team.jpg', class: "img-fluid-team w-100" %>
          </div>
          <h5 class="mb-0">Rahul Aggarwal</h5>
          <small>Food Stylist</small>
          <div class="d-flex justify-content-center mt-3">
            <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
            <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
            <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6" >
        <div class="team-item text-center rounded overflow-hidden">
          <div class="rounded-circle overflow-hidden m-4">
            <%= image_tag 'team.jpg', class: "img-fluid-team w-100" %>            
          </div>
          <h5 class="mb-0">Yukti Gupta</h5>
          <small>Saucier</small>
          <div class="d-flex justify-content-center mt-3">
            <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
            <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
            <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>